*{
    margin:0;
    padding:0;
    border:none;
}


.one{
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start:auto;
        
}

.two{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:3;
    
}

.container{
            max-width: 1140px;
            margin-left:auto;
            padding:16px;
        }

        .layout{
            display:grid;
            grid-template-rows: 300px 300px;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-column-gap: 16px;
            grid-row-gap:16px;
        }

        .one{
            background-color: aqua;
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-gap: 16px;
        }
        
        .two, .three, .four{
            background-color:coral;
            grid-column-start:;
            grid-column-end:3;
        }
}